html{
    font-family : "Noto Sans DemiLight", "Nanum Gothic";
}

header{
    margin : 30px 0;
}

nav{
    width : 100%;
    position : abolute;
}

.inner{
    margin : 0 30px;
    width : 100%;
}

.logo{
    float : left;
    font-size : 17px;
    color : #396EA0;
}

.menu{
    text-align : center;
    left : 45%;
    display : inline-block;
    position : absolute;
    font-size : 17px;
    color : #333;
    font-weight : lighter;
}

.menu1{
    margin-right : 100px;
}